@font-face {
	font-family: "DM Sans";
	src: url("https://pudding.cool/assets/fonts/dm/DMSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "DM Sans";
	src: url("https://pudding.cool/assets/fonts/dm/DMSans-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}
@font-face {
	font-family: "DM Sans";
	src: url("https://pudding.cool/assets/fonts/dm/DMSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "DM Sans";
	src: url("https://pudding.cool/assets/fonts/dm/DMSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: bold;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gravity";
	src: url("https://pudding.cool/assets/fonts/abc/ABCGravity-ExtraCondensed.woff2") format("woff2");
	font-weight: 400;
	font-style: bold;
	font-stretch: normal;
	font-display: swap;
}